@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
}

@keyframes fade-down-center {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(50%);
    }
}

.modal-scroll-color{
    scrollbar-color: #0284C7 white !important;
    scrollbar-width: thin !important;
}